* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    max-width: 100%;

    color: #FFFFFF;
}

/* HEADER - NAV */

.cabecalho nav {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {
    height: 43px;
}

.cabecalho__menu-lateral,
.cabecalho__fechar {
    font-size: 21px;
    display: none;
}

.cabecalho__links ul {
    display: flex;
    gap: 16px;
}

.cabecalho__links ul li {
    list-style-type: none;
}

.cabecalho__links ul li::after {
    content: '';
    background: #f44336;
    width: 0;
    height: 2px;
    margin: auto;
    display: block;
    transition: .5s;
}

.cabecalho__links ul li:hover::after {
    width: 100%;
    transition: 1s;
}

.cabecalho__links ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

/* HEADER - CONTEÚDO */

.header__conteudo {
    position: absolute;
    width: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header__titulo {
    font-size: 62px;
}

.header__texto {
    font-size: 14px;
}

.header__botao {
    text-decoration: none;
    font-size: 13px;
    color: #FFFFFF;

    border: 1px solid #FFFFFF;
    padding: 12px 34px;
    margin-top: 16px;
    min-width: 0;

    align-self: center;
    transition: 1s;
}

.header__botao:hover {
    background: #f44336;
    border-color: #f44336;
    transition: 1s;
}

@media screen and (max-width: 540px) {
    .header__titulo {
        font-size: 25px;
    }

    .header__texto {
        font-size: 0.9rem;
        opacity: 0.9;
    }

    .cabecalho__menu-lateral {
        display: block
    }

    .cabecalho__links {
        position: absolute;
        top: 0;
        right: -200vw;
        display: block;
        z-index: 2;
        padding: 16px;
        background: #f44336;
        width: 65vw;
        height: 100vh;
        transition: .5s;
    }

    .cabecalho__links ul {
        display: flex;
        flex-direction: column;

        text-align: left;

        padding-top: 10px;
    }

    .cabecalho__links ul li {
        display: flex;
        align-items: center;
        height: 2rem;
    }

    .cabecalho__fechar--ativo {
        display: block;
    }

    .menu-lateral--ativo {
        right: 0;
        transition: .5s;
    }

}

/* CURSOS */

main {
    width: 80%;
    margin: 0 auto;
}

.cursos,
.campus {
    text-align: center;
    margin-top: 96px;
}

.titulo__secao {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}

.texto__secao {
    font-size: 14px;
    color: #777777;
    line-height: 22px;
    padding: 10px;
    /* 
    margin-top: 32px; */
}

.cursos-lista,
.campus-lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 76px;
}

.list__itens {
    background: #fff3f3;
    list-style-type: none;
    padding: 20px 12px;
    border-radius: 10px;
    flex-basis: 31%;
    margin-bottom: 5%;
}

.campus__itens {
    list-style-type: none;
    border-radius: 20px;
    overflow: hidden;
    flex-basis: 32%;
    margin-bottom: 5%;
    position: relative;

}

.campus__itens img {
    display: block;
    width: 100%;
}

.campus__itens--coberto {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 10px;
    transition: 0.5s;
}

.campus__itens--coberto h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.campus__itens--coberto:hover h3 {
    opacity: 1;
    bottom: 49%;
    transition: 0.5s;
}

.campus__itens--coberto:hover {
    background: rgba(226, 0, 0, 0.3);
    transition: 0.5s;
}

.list__itens:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.box__titulo {
    font-weight: 600;
    font-size: 1.17rem;
    margin: 10px 0;
}

.box__texto {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

@media screen and (max-width: 540px) {
    .cursos-lista {
        display: block;
    }
}