* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;

    color: #FFFFFF;
}

/* HEADER - NAV */

.cabecalho nav {
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo {
    height: 43px;
}

.cabecalho__links ul {
    display: flex;
    gap: 16px;
}

.cabecalho__links ul li {
    list-style-type: none;
}

.cabecalho__links ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

/* HEADER - CONTEÚDO */

.cabecalho__conteudo {
    position: absolute;
    width: 88%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cabecalho__titulo {
    font-size: 62px;
}